<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 언더바(스네이크형식)를 낙타표기(카멜) -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- Alias 설정 (vo) --><!-- 모델(겟터스 / 셋터스) 불러오기 -->
	<typeAliases>
		<typeAlias type="kr.co.ac.vo.BoastVO" 	alias="BoastVO"/>
		<typeAlias type="kr.co.ac.vo.BoardVO" 	alias="BoardVO"/>
		<typeAlias type="kr.co.ac.vo.UsersVO" 	alias="UsersVO"/>
		<typeAlias type="kr.co.ac.vo.FileVO" 	alias="FileVO"/>
		<!-- <typeAlias type="kr.co.ac.booktest.model.Book" alias="Book"/> -->
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/boast.xml"/>
		<mapper resource="mybatis/board.xml"/>
		<mapper resource="mybatis/users.xml"/>
		<mapper resource="mybatis/login.xml"/>
		<mapper resource="mybatis/usersfile.xml"/>
	</mappers>
	
</configuration>